$mainColor: #5056b7;
$mainColor2: #5055b748;
$borderColor: #e6e4e4;
$borderColor2: #f2f2f2;
$subColor: #ded9ab;
$subColor2: #4d988c;
$bgColor: #020530;
$bgColor2: #383847;
$bedgeColor: #d2d8e4;
$darkBoxShadow: #0000006e;

$barTitleWidth: 380px;
$menuNavWidth: 80px;
$homePaddingTop: 100px;

$minWidth: 500px;
@mixin borderRight {
  border-right: 1px solid $borderColor;
}
$shooting-time: 5s;
@mixin reWrapStyle {
  margin-top: 20px;

  .codeBox {
    border: 1.5px solid $borderColor;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px 10px;
    line-height: 40px;
    p {
      span {
        color: #a3715e;
      }
    }
  }
}

//반응형
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  // 0~767px
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin desktop {
  //1024px 이상 데스크탑
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
