@import '../mixin/variables';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
.container {
  width: 100%;
  height: 100%;
  padding-top: $homePaddingTop;
  position: relative;
  color: #fff;
}
.welcomeWrap {
  text-align: center;
  margin: 0px auto 200px auto;
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
  position: relative;
  .welcomAction {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    p {
      span {
        opacity: 0;
        animation: visibilityFont 3s ease-in-out forwards;
        // @for $i from 1 through 7 {
        //   &:nth-child(#{$i}) {
        //     animation: visibilityFont calc(#{$i} + 1s) ease-in-out forwards;
        //   }
        // }
      }
    }
  }
}
.myPhoto {
  width: 230px;
  height: 230px;
  border: 1px solid $borderColor;
  border-radius: 50%;
  position: relative;
  margin: 0px auto 50px auto;
  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.greetStyle {
  text-align: center;
  font-size: 24px;
  line-height: 45px;
}

.scrollStyle {
  //   width: 200px;
  //   text-align: center;
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   bottom: calc($homePaddingTop + 30px);
  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc($homePaddingTop + 90px);
  }
  .arrowStyle {
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc($homePaddingTop + 30px);
    animation: 0.8s arrowAction 1s linear infinite alternate;
  }
}

@keyframes visibilityFont {
  100% {
    opacity: 1;
  }
}

@keyframes arrowAction {
  from {
    bottom: calc($homePaddingTop + 30px);
  }
  to {
    bottom: calc($homePaddingTop + 10px);
  }
}
