@import '../mixin/variables';
//profile

//스킬
.skillTable {
  .tableCellTitleStyle {
    font-size: 18px;
    word-break: keep-all;
  }
  .tableCellStyle {
    font-size: 18px;
    .skillBedge {
      height: 25px;
      line-height: 25px;
      margin: 0 10px;
      word-break: keep-all;
      white-space: nowrap;
      .logoImg {
        height: 23px;
      }
    }
  }

  .gold {
    color: #fcd45d;
  }
  .silver {
    color: #d4d4d4;
  }
  .bronze {
    color: #c58b65;
  }
}

//히스토리
.historyWrap {
  li {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 15px 0;
    .time {
      width: 150px;
      text-align: center;
    }
    .imgSrc {
      width: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      .historyImg {
        width: 80px;
        height: 80px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid $mainColor;
      }
    }
    .title {
      flex: 1;
      .fontStyle {
        color: black;
        font-size: 16px;
      }
    }
  }
}
