@import '../mixin/variables';

//프로필
.profileWrap {
  .blog {
    a {
      color: #ded9ab;
      &:hover {
        color: #d0eee9;
      }
    }
  }
}

//스킬
.skillTable {
  .tableCellTitleStyle {
    font-size: 18px;
    word-break: keep-all;
    border-color: $bgColor;
    color: white;
    font-weight: 600;
  }
  .tableCellStyle {
    color: white;
    font-size: 18px;
    border-color: $bgColor;

    .skillBedge {
      font-size: 18px;
      height: 25px;
      line-height: 25px;
      margin: 0 10px;
      word-break: keep-all;
      white-space: nowrap;
      background-color: #d2d8e4;
      padding: 2px 5px;
      border-radius: 5px;
      color: black;
      position: relative;
      .logoImg {
        padding-top: 5px;
        height: 23px;
      }
    }
  }

  .gold {
    color: #fcd45d;
  }
  .silver {
    color: #d4d4d4;
  }
  .bronze {
    color: #c58b65;
  }
}

//히스토리
.historyContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1s ease-in;

  .historyWrap {
    li {
      min-width: $minWidth;
      height: 80px;
      display: flex;
      align-content: center;
      align-items: center;
      margin-bottom: 25px;
      animation: listAction 1s linear 2 alternate;
      padding: 0 20px;
      .time {
        width: 150px;
        text-align: right;
        color: white;
        font-size: 18px;
      }
      .imgSrc {
        width: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;

        .historyImg {
          width: 80px;
          height: 80px;
          padding: 10px;
          border-radius: 50%;
          background-color: $subColor2;
          box-shadow: 5px 5px 5px $darkBoxShadow;
        }
      }
      .title {
        color: white;
        min-width: 300px;
        border-radius: 15px;
        border: 1px solid $borderColor;
        padding: 0 15px;
        flex: 1;
        box-shadow: 5px 5px 7px $darkBoxShadow;
        font-size: 20px;
        .fontStyle {
          color: white;
          font-size: 16px;
          border-top: 1px solid $borderColor;
        }
      }
    }
  }
}

.btnContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  top: 50%;
  .scrollBtnDown {
    margin-top: 10px;
    .downIcon {
      font-size: 30px;
      animation: 0.8s downAction 0.5s linear infinite alternate;
    }
  }
  .scrollBtnUp {
    margin-bottom: 10px;
    .upIcon {
      font-size: 30px;
      animation: 0.8s upAction 0.5s linear infinite alternate;
    }
  }
}

@keyframes downAction {
  from {
    transform: translateY(-60%);
  }
  to {
    transform: translateY(-80%);
  }
}

@keyframes upAction {
  from {
    transform: translateY(-40%);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes listAction {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}
