@import '../mixin/variables';

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 100%;
  height: 100%;
}
.projectsListWrap {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 300px;
    height: 320px;
    margin: 10px;
    border: 1px solid $borderColor;
    box-sizing: content-box;
    box-shadow: 5px 8px 6px $darkBoxShadow;
    position: relative;
    background-color: $bedgeColor;
    .projectInfo {
      width: 300px;
      height: 320px;
      top: 0;
      left: 0;
      position: absolute;
      padding: 10px;
      font-size: 18px;
      color: white;
      font-weight: 700;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      .title {
        text-align: center;
        padding: 5px 0;
      }
      .skill {
        display: flex;
        flex-wrap: wrap;
        p {
          margin-right: 10px;
          background-color: $mainColor;
          border-radius: 7px;
          padding: 1px 5px;
          margin-bottom: 5px;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: black;
        opacity: 0.8;
      }
    }
    &:hover {
      // will-change: transform;
      // transition: all 0.2s linear;
      // transform: rotate(2deg) scale(1.05);
    }

    .img {
      width: 300px;
      height: 180px;
      img {
        width: 300px;
        height: 180px;
      }
    }
    .name {
      display: flex;
      align-items: center;
      height: calc(((320px - 180px) / 2));
      font-size: 20px;
      font-weight: 700;
      word-break: keep-all;
      line-height: 32px;
      padding: 5px;
    }
    .launch {
      padding: 5px;
    }
  }
}

.projectDetailWrap {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 120px;
  position: relative;

  .back {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: $mainColor;
    opacity: 0.8;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: $mainColor2;
      color: black;
    }
  }
  // .mainImg {
  //   width: 800px;
  //   height: 300px;
  //   margin: auto;
  //   overflow-y: hidden;
  //   border-bottom: 1px solid $borderColor;
  //   box-shadow: 0 2px 5px $borderColor;
  //   img {
  //     width: 100%;
  //     height: 500px;
  //   }
  // }
  .detailWrap {
    width: 800px;
    margin: auto;

    h1 {
      padding: 20px 0;
    }
    .description {
      padding: 20px 0;
    }
    .descriptionSimple {
      padding: 15px 0;
      display: flex;

      .tableCellStyle {
        border: none;
        font-size: 18px;
        a {
          &:hover {
            color: $mainColor;
          }
        }
        .bedgeWrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .bedge {
            padding: 3px 5px;
            border: 1px solid $borderColor;
            background-color: $mainColor2;
            margin-right: 10px;
            border-radius: 5px;
          }
        }

        .labelWrap {
          display: flex;
          align-items: center;
        }
      }
      .tableCellHeadStyle {
        border: none;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
      .iconStyle {
        margin-right: 7px;
        color: #a5a4a1;
      }
    }
    .descriptionDetail {
      li {
        list-style: none;
      }

      .label {
        font-size: 18px;
        font-weight: 700;
        .helper {
          font-size: 13px;
          font-weight: 500;
          color: red;
          animation: twinkle 2.5s linear 1s infinite;
        }
      }
      .description {
        margin-bottom: 15px;
        line-height: 35px;
        font-size: 18px;
        .imgContainer {
          display: flex;
          flex-wrap: wrap;

          // justify-content: center;
          .clientView {
            width: 220px;
            height: 200px;
            margin-bottom: 20px;
            margin-right: 20px;
            border: 1px solid $borderColor;
            &:hover {
              cursor: zoom-in;
              transform: scale(2);
            }
          }
        }
      }
    }
  }
}

@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
