@import '../mixin/variables';

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 100%;
  height: 100%;
}
.projectsListWrap {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 300px;
    height: 320px;
    margin: 10px;
    border: 1px solid $borderColor;
    box-sizing: content-box;
    box-shadow: 5px 3px 6px $borderColor;
    &:hover {
      cursor: pointer;
      will-change: transform;
      transition: all 0.2s linear;
      transform: rotate(2deg) scale(1.05);
    }

    .img {
      width: 300px;
      height: 180px;
      img {
        width: 300px;
        height: 180px;
      }
    }
    .name {
      display: flex;
      align-items: center;
      height: calc(((320px - 180px) / 2));
      font-size: 20px;
      font-weight: 700;
      word-break: keep-all;
      line-height: 32px;
      padding: 5px;
    }
    .launch {
      padding: 5px;
    }
  }
}

.projectDetailWrap {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 120px;
  position: relative;

  .back {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: $mainColor;
    opacity: 0.8;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: $mainColor2;
      color: black;
    }
  }
  .mainImg {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    border-bottom: 1px solid $borderColor;
    box-shadow: 0 2px 5px $borderColor;
    img {
      width: 100%;
      height: 500px;
    }
  }
  .detailWrap {
    width: 800px;
    margin: auto;
    h1 {
      padding: 20px 0;
    }
    .description {
      padding: 20px 0;
    }
    .descriptionSimple {
      padding: 15px 0;
      display: flex;
      li {
        align-items: center;
        height: 50px;
        padding: 10px 0;
        font-size: 18px;
        display: flex;

        .iconStyle {
          margin-right: 7px;
          color: #a5a4a1;
        }
      }
      .detail {
        flex: 1;
        color: #5e5d5c;
        word-break: keep-all;
        padding-right: 10px;
        padding-left: 0;
        // font-weight: 700;
      }
      .detailDescription {
        word-break: keep-all;
        flex: 3;
        .bedgeWrap {
          display: flex;
          flex-wrap: wrap;
          .bedge {
            height: 23px;
            padding: 0 5px;
            margin: 3px 6px 3px 0;
            border: 1px solid $borderColor;
            background-color: $mainColor2;
            border-radius: 5px;
          }
        }
      }
    }
    .descriptionDetail {
      padding: 15px 0;
      .label {
        font-size: 18px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
      }
    }
  }
}
